# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore db config
*.properties

# shape
*~ 
*.dbf
*.fix
*.shp
*.shx
*.prj
*.qix
*.json
# Eclipse
.classpath
.project
.settings/


# Mac
.DS_Store

# Maven
log/
target/