# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore files
*~ 
*.dbf
*.fix
*.shp
*.shx
*.prj
*.qix

# Eclipse
.classpath
.project
.settings/


# Mac
.DS_Store

# Maven
log/
target/